<section id="ooo_analytics">
  <div class="ooo_analytics__inner">
    <div class="ooo_analytics__main">
      <div class="ooo_content">
        <p>This website uses <span class="fab fa-google"></span> Analytics, a web analysis service of Google Inc. You may opt-out of anonymous tracking at any time by clicking on this <a id="ooo_optOut">link</a>. A cookie will be set, which avoids having your information collected by that site with future effect. If you would like to have more information you can also take a look at this sites <a href="/privacy_policy">privacy policy</a>.</p>
      </div>
      <div class="ooo_bttn">
        <a id="ooo_ignore-bttn">I'm okay with <br> <span class="fab fa-google"></span> Analytics</a>
      </div>
      <div class="ooo_close" id="ooo_close"></div>
    </div>
  </div>
</section>
