<section class="ooo__chessview">
  {% for item in page.items %}
    <div class="ooo_row">
      <div class="ooo_element ooo_element__image{% if item.image %} ooo_whiteout{% else %} ooo_blueout{% endif %}">
        <div class="ooo_background_image lazyload no-src" data-bg="{% if item.background_image %}{{ item.background_image | prepend: site.base_url }}{% else %}/assets/images/dev/placeholder.jpg{% endif %}"></div>
        {% if item.image %}
          <img class="lazyload no-src" data-src="{{ item.image | prepend: site.base_url }}" alt="{{ item.title }}">
        {% endif %}
      </div>
      <div class="ooo_element ooo_element__text">
        <div class="ooo_element__inner">
          <h2>{{ item.title }}</h2>
          <p>{{ item.content | markdownify }}</p>
          {% if item.action %}
            {% for button in item.action %}
              {% if button.title.size > 0 %}
                <a class="btn{% if button.active == false %} inactive {% endif %}{% if button.message %} triangle_init {% endif %}" href="{{ button.link }}">{{ button.title }}</a>
              {% endif %}
            {% endfor %}
            {% for button in item.action %}
              {% if button.message and button.title > 0 %}
                <div class="speechbubble">
                  <p class="message">{{ button.message }}</p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
