<section class="ooo__faq" id="faq">
  <h2>WTF? —<br>In case there is more to ask.</h2>
  <div class="faq_cols">
    <div class="col_one faq_col">
      {% for el in site.data.faq.faqs %}
        <div class="faq__section">
          <h3>{{ el.section }}</h3>
          {% for item in el.faq %}
            <div class="faq_el">
              <p>{{ item.q }}</p>
              <div class="faq__a">
                <div class="faq__a__inner">
                  {{ item.a | markdownify }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="col_two faq_col">
      <h3>{{ page.faq.more_title }}</h3>
      {{ page.faq.more_content | markdownify }}
      <div class="social_channels dark">
        {% for channel in site.data.defaults.channels %}
          <a href="{{ channel.link }}"><i class="fab fa-{{ channel.fa-icon }}"></i></a>
        {% endfor %}
        <p class="hashtag">Always remember: <b>#ooo</b></p>
      </div>
    </div>
  </div>
</section>
