<section class="ooo_social ooo_blue ooo_stamp">
  <div class="ooo__grid_el">
    <h2>SOCIAL MEDIA:<br>See WHAT‘S HAPPENING</h2>
    <p class="intro_el">In case you are wondering what we are working on or where somebody is preparing for the big party.</p>
  </div>
  <div id="ooo_twitter">
    <div class="ooo_twitter__scroll">

      <div class="ooo_twitter__inner" id="twitter_db">
        {% for tweet in site.data.twitter.featured %}
          <blockquote class="ooo_card ooo_tweet">
            <p class="featured">Featured</p>
            <div class="ooo_tweet__content">{{ tweet.tweet }}</div>
            {%- if tweet.media_type == 'photo' -%}
            <div class="tweet_img br5">
              <img class="lazyload no-src" data-src="{{ tweet.media_url }}" alt="tweet_image_{{ tweet.user_name }}">
            </div>
            {%- endif -%}
            <time class="ooo_ago" datetime="{{ tweet.created_at }}">{{ tweet.created_at }}</time>
            <cite>
              <img class="lazyload no-src" data-src="{{ tweet.user_image[0].thumbnails.large.url }}" alt="{{ tweet.user_name }}">
              <a href="{{ tweet.tweet_link }}">
                {{ tweet.user }}
                <small>
                  <i class="fab fa-twitter"></i>
                  @{{ tweet.user_name }}
                </small>
              </a>
            </cite>
          </blockquote>
        {% endfor %}

        {% for tweet in site.data.twitter.all %}
          <blockquote class="ooo_card ooo_tweet">
            <div class="ooo_tweet__content">{{ tweet.tweet }}</div>
            {%- if tweet.media_type == 'photo' -%}
            <div class="tweet_img">
              <img class="lazyload no-src" data-src="{{ tweet.media_url }}" alt="tweet_image_{{ tweet.user_name }}">
            </div>
            {%- endif -%}
            <time class="ooo_ago" datetime="{{ tweet.created_at }}">{{ tweet.created_at }}</time>
            <cite>
              <img class="lazyload no-src" data-src="{{ tweet.user_image[0].thumbnails.large.url }}" alt="{{ tweet.user_name }}">
              <a href="{{ tweet.tweet_link }}">
                {{ tweet.user }}
                <small>
                  <i class="fab fa-twitter"></i>
                  @{{ tweet.user_name }}
                </small>
              </a>
            </cite>
          </blockquote>
        {% endfor %}
      </div>

      <!-- <div class="ooo_load_btn__frame">
        <div id="ooo_load_btn" onclick="load_twitter_db()" class="">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div> -->

    </div>
  </div>
  <div class="ooo__grid_el grid__social">
    <div class="social_channels">
      {% for channel in site.data.defaults.channels %}
        <a href="{{ channel.link }}" target="_blank"><i class="fab fa-{{ channel.fa-icon }}"></i></a>
      {% endfor %}
      <p class="hashtag">Always remember: <b>#ooo</b></p>
    </div>
  </div>
</section>
