<div class="ooo__video">
  <div class="media_container">
    <img src="{{ "/assets/images/dev/video_placeholder.png" | prepend: site.baseurl }}" alt="Placeholder">
    <video autoplay muted loop poster="{{ "/assets/images/dev/video_placeholder.png" | prepend: site.baseurl }}" id="myVideo">
      <source src="{{ "/assets/images/dev/ooo_background_video_trim.mp4" | prepend: site.baseurl }}" type="video/mp4">
    </video>
  </div>
  <p class="claim">{{ page.title-claim }}</p>
  <a class="btn" href="#faq">Confused? Read the FAQ</a>
</div>
