// color defaults
$blue: #4455bb;
$red: #f05064;
$black-light: #222222;
$black-dark: #1B1B1B;


// font stack
$main: 'Noway', system, sans-serif;

// Grid

body.ooo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto
                      1fr
                      auto;
  min-height: 100vh;
}

// General defaults
.small {
  font-size: 70%;
}

// device width (use bootstrap)
//$xtra-large: none !default;
$xtra-large: 1350px !default;
$large: 1199px !default;
$medium: 991px !default;
$small: 767px !default;
$xtra-small: 575px !default;

// mixins for flexbox
@mixin display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($align){
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin justify-content($justify) {
-webkit-justify-content: $justify;
-moz-justify-content: $justify;
-ms-justify-content: $justify;
justify-content: $justify;
}

@mixin direction_column {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin direction_row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin direction_row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

// mixin for media-querys
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// color mixin for links
@mixin link-mix($mixin-color) {
  color: $mixin-color;
  a {
    color: $mixin-color;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
      color: $mixin-color;
    }
  }
}

@mixin pure-link($mixin-color) {
  color: $mixin-color;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: $mixin-color;
  }
}

@keyframes ooo_attention {
  0% {}
  50% {transform: translateX(10px);}
  100% {transform: translateX(0px);}
}

// import other files
@import
  "typography_base",
  "import/normalize",
  "import/slick",
  "main-items",
  "home/shopping_section",
  "404",
  "protect",
  "static"
;
