section#buy,
section#how_to {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 75px 1em;
  @include media-query($small){
    padding: 150px 50px;
  };
  @include media-query($medium){
    padding: 150px 75px;
  };
  .btn {
    display: inline-block;
  }
  p.price {
    font-weight: 700;
    margin-top: 15px;
    font-size: 1.6rem;
    line-height: 0.8em;
    margin-bottom: 10px;
    .small {
      font-size: .7em;
    }
  }
  // &>*:not(.soon) {
  //   opacity: .5;
  // }
  .soon {
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,0.12);
    position: absolute;
    width: 90%;
    max-width: 600px;
    background: $blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 1em;
    z-index: 99;
    @include display_flex;
    @include align-items(center);
    @include justify-content(center);
    @include direction_column;
    p {
      color: white;
      text-align: center;
      line-height: 1em;
      &:last-of-type{

      }
    }
    svg {
      width: 30px;
      height: auto;
      margin-bottom: 20px;
    }
  }
}

.shop_cols {
  @include display_flex;
  margin-top: 25px;
  @include direction_column;
  @include media-query($medium){
    @include direction_row;
    margin-top: 75px;
    &>div {
      width: 50%;
    }
  };
}

.inactive {
  opacity: 0.5;
}

.shop_image {
  position: relative;
  background: rgba(0,0,0,.1);
  //flex: 0 1 calc(50% - 10%);
  margin-bottom: 25px;
  max-height: 500px;
  &.svg_image {
    @include display_flex;
    @include justify-content(center);
    @include align-items(center);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
    overflow: hidden;
  }
  svg {
    width: 50%;
  }
  &:not(.svg_image) {
    .product_image,
    .slick-track,
    .slick-slide,
    .slick-slide div,
    .slick-slide div div,
    .slick-list {
      max-height: 100%;
      //overflow: hidden;
    }
    .slick-track {
      @include display_flex;
    }
    .product_image {
      overflow: hidden;
      height: 500px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .slick-dots {
      list-style: none;
      padding: 0;
      @include display_flex;
      @include justify-content(center);
      margin: 10px 0;
      position: absolute;
      width: 100%;
      li {
        width: 25px;
        background: $blue;
        height: 5px;
        opacity: .6;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        &.slick-active {
          opacity: 1;
        }
      }
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: 0;
        background: 0 0;
      }
    }
  }
  @include media-query($medium){
    margin-right: 10%;
    margin-bottom: 0;
  };
}

section#how_to {
  position: relative;
  max-width: unset;
  &:before {
    content: '';
    background: url('/assets/images/dev/how_to_warning.svg');
    top: 0;
    left: -15%;
    width: 130%;
    position: absolute;
    height: 10px;
  }
  .how_to__frame {
    @include display_flex;
    @include justify-content(center);
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .how_to__step {
    @include display_flex;
    @include direction_column;
    @include align-items(center);
    width: 150px;
    margin: 25px;
    p {
      text-align: center;
      font-size: 80%;
      line-height: 1.5em;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .how_to__icon {
    height: 100px;
    margin-bottom: 15px;
    svg {
      height: 100%;
      fill: $red;
    }
  }
}
